/* ----- START CSS RESET ----- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  -webkit-font-smoothing:antialiased;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  color: #333;
}
/* ----- END CSS RESET ----- */

/* ----- RESPONSIVE ----- */

@media screen and (max-width: 1024px) {
	.nav-item {
		display: none;
	}
	.header-title .main-title {
		font-size: 2rem!important;
	}
	.header-title {
		margin-top: 2rem!important;
	}
	.header-title p {
		margin-bottom: 2rem!important;
	}
	.web-font {
		margin-bottom: 2rem!important;
	}
	.article-date {
		margin-top: 0.8rem!important;
	}
	.article-title {
		font-size: 1.4rem!important;
	}
	.avatar-img {
		float: none !important;
		margin-bottom: 0.4rem !important;
	}
	.avatar-intro {
		margin-left: 0 !important;
		max-width: none !important;
	}
	.author-warp {
		text-align: center!important;
	}
	.article-detail-title {
		font-size: 1.8rem !important;
		margin-top: 2rem !important;
	}
	.article-detail-date {
		margin-top: 0.5rem !important;
	}
}









/* ----- NAV CSS ----- */
body {
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif,'LanTingHei SC','PingHei';;
  -webkit-font-smoothing:antialiased;
}
body #nav {
  position: fixed;
  height: 68px;
}
#nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0px 2px 40px 0px rgba(0,0,80,0.05)
}
.nav-logo {
  float: left;
  width: 104px;
  height: 36px;
  margin-left: 4%;
  margin-top: 16px;
}
.nav-logo .logo {
  background-image: url(../images/design_logo.svg);
  background-size: 36px 36px;
  background-position: left center;
  background-repeat: no-repeat;
  fill:#ff0e00;
  padding: 0 0 0 42px;
  font-size: 18px;
  line-height: 36px;
  color: #66666a;

}
.nav-item {
  float: right;
  color: #66666a;
  font-size: 14px;
	font-family: 'LanTingHei SC','PingHei';
}
#nav .item-active{
	box-shadow: rgb(255,14,0) 0px 2px;
	font-size: 14px;
	font-family: 'LanTingHei SC','PingHei';
}
#nav .item-active a {
	color: #333;
	font-size: 0.8rem;
	font-family: 'LanTingHei SC','PingHei';
}
#nav ul li {
  float: left;
  line-height: 68px;
  margin-right: 2.5rem;
}
#nav ul li a {
	font-size: 0.8rem;
  color: #66666a;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}
#nav ul li a:hover {
  opacity: 0.6;
}
/* ----- NAV CSS ----- */

/* ----- FOOTER CSS ----- */
.footer {
	clear: both;
	margin: 0 auto;
	margin-top: 3rem;
	margin-bottom: 4rem;
	max-width: 1100px;
	text-align: center;
	font-size: 0.8rem;
	color: #66666a;
}
/* ----- FOOTER CSS ----- */

#content {
  padding-top: 68px;
  height: auto;
}
.header-title {
	padding: 0 1rem;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 4rem;
}
.header-title .main-title {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}
.header-title p {
  margin-bottom: 5rem;
  font-weight: 500;
}
.item {
	padding: 0 1rem;
  max-width: 1100px;
  margin: 0 auto;
  font-family: 'LanTingHei SC','PingHei';
}
.item a {
  color:#727276;
  transition: 0.5s ease;
}
.item a:hover {
  color:#222;
}
.item .article-img {
  width: 100%;
	overflow: hidden;
}
.item .article-img img {
  width: 100%;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-o-transition: all .7s ease;
	-ms-transition: all .7s ease;
	transition: all .7s ease;
}
.item .article-img:hover img {
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-ms-transform: scale(1.02);
	-o-transform: scale(1.02);
	transform: scale(1.02);
}
.article-date {
  font-size: 0.5rem;
  margin-top: 1.4rem;
  font-weight: 500;
	color: #727276;
}
.article-title {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: 'LanTingHei SC','PingHei';
  letter-spacing: 0.1rem;
  margin-top: 1.5rem;
}


/* ----- DETAIL CSS ----- */
.article-banner-bg-1 {
	width: 100%;
	height: 22rem;
	background-image: url(../images/top_bg_1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.article-detail-title {
	padding: 0 1rem;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-size: 2.3rem;
	line-height: 3.4rem;
  font-weight: 500;
  font-family: 'LanTingHei SC','PingHei';
  margin-top: 4.5rem;
}
.article-detail-date {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
  font-weight: 500;
	color: #727276;
}
.article-content {
	padding: 0 1rem;
  max-width: 900px;
  margin: 0 auto;
  height: auto;
  margin-top: 2.5rem;
}
.article-content p {
  font-size: 1.1rem;
  color:#444;
  line-height: 2rem;
  font-family: 'LanTingHei SC','PingHei';
  letter-spacing: 0.1rem;
}
.article-content h2 {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 500;
	color:#333;
	font-family: 'LanTingHei SC','PingHei';
}
.author-warp {
	padding: 0 1rem;
  max-width: 900px;
  margin: 0 auto;
  display: block;
  margin-top: 3rem;
  margin-bottom: 3rem;
  overflow: hidden;
}
.avatar-img {
  float: left;
}
.avatar-img img {
  display: inline-block;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}
.avatar-intro {
  max-width: 750px;
  float: left;
  margin-left: 20px;
}
.avatar-intro h3 {
  font-size: 18px;
  font-weight: bold;
}
.avatar-intro p {
  margin-top: 10px;
  font-size: 14px;
  color:#444;
  font-family: 'LanTingHei SC','PingHei';
  line-height: 24px;
}
/* ----- DETAIL CSS ----- */

/* ----- CAREER CSS ----- */
.content {
	padding: 0 1rem;
	margin: 0 auto;
	padding-top: 68px;
	width: 800px;
	height: auto;
}
.content .career-warp {
	margin: 0 auto;
	margin-top: 100px;
}
.content .career-warp h1 {
	font-size: 1.8rem;
	font-weight: 600;
	color: #333;
	font-family: 'San Francisco','LanTingHei SC','PingHei';
}
.content .career-warp h3 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 1rem;
	font-weight: 500;
	color: #444;
	font-family: 'San Francisco','LanTingHei SC','PingHei';
}
.content .career-warp ul {
	margin-left: 1.2rem;
}
.content .career-warp ul li {
	list-style: circle;
	letter-spacing: 0.1rem;
	font-size: 1rem;
	color: #333;
	line-height: 36px;
	font-family: 'San Francisco','LanTingHei SC','PingHei';
}
/* ----- CAREER CSS ----- */

/* ----- RESOURCE CSS ----- */
	.resource-content {
		width: 1140px;
		height: auto;
		margin: 0 auto;
		padding-top: 68px;
	}
	.resource-content ul {
		margin-top: 100px;
	}
	.resource-content ul li {
		position: relative;
		top: 0px;
		float: left;
		width: 340px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.resource-content ul li img {
		position: relative;
		top: 0px;
		cursor: pointer;
		border: none;
		box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
		transition: all .2s linear;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-ms-transition: all .2s linear;
		-o-transition: all .2s linear;
	}
	.resource-content ul li img:hover {
		top: -10px;
		box-shadow: 0px 20px 40px rgba(0,0,0,0.3)
	}
	.resource-content ul li h2 {
		font-size: 16px;
		font-weight: 500;
		color: #333;
		margin-top: 30px;
		margin-left:4px;
		font-family: 'San Francisco','LanTingHei SC','PingHei';
	}
	.resource-content ul li p {
		font-size: 14px;
		color: #727276;
		margin-left:4px;
		margin-top: 15px;
		margin-bottom: 50px;
		font-family: 'San Francisco','LanTingHei SC','PingHei';
	}
	.resource-content ul li p a {
		border-width: 0 0 1px;
		border-style: solid;
		border-color: #999;
	}
	.resource-content ul li p a:hover {
		border-color: #333;
	}
/* ----- RESOURCE CSS ----- */



@font-face {font-family: 'webfont';
    src: url('font/webfont.eot'); /* IE9*/
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfont.woff') format('woff'), /* chrome、firefox */
    url('webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

.web-font{
    font-family:"webfont" !important;
    font-size:1rem;
		font-style:normal;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    line-height: 1.6rem;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}
